table{
    margin: auto;
    margin-top: 30px;
}

th, td{
    padding: 10px;
    border: 1px solid grey;
}
th{
    font-weight: bold;
    border: 2px solid grey;
    background-color: green;
    color: white;
}
tr:hover{
    color:green;
    font-weight: bold;
}


